{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

<!-- Page header block -->

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block extra_title %}Home{% endblock %}

{% block content %}

<!-- Main content of the page -->

<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">

        <!-- Shopping Bag Section -->

        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 gap">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <!-- Check if bag_items exist -->

    <div class="row">
        <div class="col">
            {% if bag_items %}

            <!-- Display bag items in a table -->

            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <!-- Loop through bag items and display details -->

                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size:
                                </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                            </p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">

                                            <!-- Decrement button -->

                                            <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="50"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">

                                            <!-- Increment button -->

                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}

                                        <!-- Hidden input field for products with sizes-->

                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>

                            <!-- Update and Remove button -->

                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>

                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <label class="form-check-label" for="id-save-info">
                                <h6>
                                    {% if not user.is_authenticated %}
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to complete
                                    checkout.
                                    {% endif %}
                                </h6>
                            </label>

                            <!-- Bag summary and total -->
                            <h6 class="highlight gap">Apply coupon</h6>
                            <form action="{% url 'coupon_apply' %}" method='POST' class="mb-2">
                                {% csrf_token %}
                                <input type="text" name="coupon-code" class="w-50" maxlength="10">
                                <button type='submit' class='btn btn-sm'>Apply</button>
                            </form>
                            {% if coupon %}
                            <div class="altFont mb-2">
                                <p>Current code: <span class="highlight">{{ coupon }}</span></p>
                                <p>Savings: <span class="highlight">€{{ savings|floatformat:2 }} -
                                        {{ coupon_amount }}%</span> off!</p>
                            </div>
                            {% endif %}
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>

                    </tr>
                    <!-- Buttons for navigation -->
                    <tr>
                        <td colspan="5" class="text-right">

                            <!-- 'Keep Shopping' button -->
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>

                            <!-- 'Secure Checkout' button -->
                            {% if user.is_authenticated %}
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}

            <!-- Display message if bag is empty -->
            <p class="lead mb-5">Your bag is empty.</p>

            <!-- 'Keep Shopping' button -->
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<!-- Additional JavaScript -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click

    document.querySelectorAll('.update-link').forEach(function (link) {
        link.addEventListener('click', function (e) {
            const form = this.previousElementSibling;
            form.submit();
        });

    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}