{% extends "base.html" %}
{% load static %}
<!-- Page header block -->

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block extra_title %}Manage Coupons{% endblock %}

{% block content %}
<div class="container container-content gap">
    <div class="row">
        <div class="col-10 mx-auto gamerStyle col-lg-8 offset-lg-2">
            <h1 class="text-center mt-2">Manage site coupons</h1>
            <div class="row justify-content-center">
                <form class="form" action="{% url 'coupons_manage' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <h2 class="highlight text-center">Add a coupon</h2>
                        <div class="col-12 col-md-8 mx-auto">
                            <!-- Coupon form -->
                            {{ coupon_form.code | as_crispy_field }}
                            {{ coupon_form.amount | as_crispy_field }}
                        </div>
                    </fieldset>
                    <div class="row mt-2">
                        <!-- Add coupon button -->
                        <div class="text-center">
                            <button class="btn rounded-0 mb-2" type="submit">
                                <i class="far fa-plus-square fa-lg"></i> <span class="font-weight-bold">Add
                                    coupon</span>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row text-center">
                    <!-- Display coupon information if at least one coupon exists -->
                    {% if coupons %}
                    <!-- List of Coupons -->
                    {% for coupon in coupons %}
                    <div class="col-6 mt-1">
                        <p><span class="highlight me-1">Code:</span> <span class="altFont">{{ coupon.code }}</span></p>
                        <p><span class="highlight me-1">Amount:</span> <span class="altFont">{{ coupon.amount }}</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'coupon_delete_confirmation' coupon.id %}" class="btn my-2">
                            <i class="fas fa-trash"></i> Delete Coupon
                        </a>
                    </div>
                    <hr class="w-100 m-auto highlight mb-1">
                    {% endfor %}
                    {% else %}
                    <!-- Content to display if there are no coupons -->
                    <p class="altFont text-center">There are no coupons at the moment. Why not add one?</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}