{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home {% endblock %}

{% block content %}

<!-- Welcome page content -->

<div class="container-fluid welcome-page">
  <div class="row h-100">
    <div class="col-7 col-md-6 my-auto">
      <h1 class="display-4 ">Sign up to receive personalised recommendations just for you.
      </h1>

      <!-- Join button -->

      <div class="my-5">
        <h1>
          <a href="{% url 'account_signup' %}" class="btn-black font-weight-bold btn-lg btn rounded-6 py-3">Join Now</a>
        </h1>
</div>
      </div>
    </div>
  </div>

  {% endblock %}