{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid welcome-page no-gutters">
    <div class="row">
    <div class="col-12">
  <section class="welcome jumbotron text-center">
<h1>Now Open!</h1>
   <p class="lead">Join and receive a free monthly pass. <s class="d-none d-sm-inline">£17.99</s><span class="d-inline d-sm-none"><br></span><mark>No joining fee!</mark> 
  </p>
        <a class="btn btn-warning" href="signup.html" role="button"><strong>Start Today!</strong></a>
  </section>
</div>
</div>
</div>
{% endblock %}