{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid welcome-page no-gutters">
    <div class="row">
    <div class="col-12">
  <section class="welcome jumbotron text-center">
<h1>Now Open!</h1>
   <p class="lead">Join and receive a free monthly pass. <s class="d-none d-sm-inline">£18.99</s><span class="d-inline d-sm-none"><br></span><mark>No joining fee!</mark> 
  </p>
        <a class="btn btn-success" href="signup.html" role="button"><strong>Start Today!</strong></a>
  </section>
</div>
</div>
</div>
<!-- INFO SECTION --> 
<div class="container style">
  <div class="row">
    <div class="col">
 <h3>Opening Times:</h3><h5>Monday-Sunday:<br>24/7</h5><br>
      <h3>Find Us:</h3><h5>1st Floor<br>St. David's Mall<br>Cardiff</h5></div>
            <!-- OFFER LIST --> 
    <div class="col">
      <h3>Our Offer:</h3>
      <ul>
       <li><strong>Personal Training</strong></li>
        <li><strong>Fitness Classes:</strong>
        <ul>
          <li>Pilates</li>
          <li>CrossFit</li>
          <li>Spinning/Indoor Cycling</li>
          <li>Yoga</li>
          <li>HIIT</li>
          <li>Zumba</li>
        </ul>
      </ul>
    </div>
    <div class="col">
            <!-- OFFER LIST--> 
<!--  ABOUT- TEXT SOURCE- PURE GYM OFFICIAL WEBSITE -->
      <h3>About Us</h3><h6> We welcome everybody, regardless of size, ability, age, ethnicity, religion, gender, sex, or sexual orientation.<br> Our gyms are friendly, supportive, and judgement-free spaces where everybody can come in, work out and leave feeling good.</h6>
    </div>
  </div>
</div>
<!-- FOOTER --> 
<footer class="text-center text-white ft-style">
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     © 2023 Copyright:
     <a class="text-white" href="index.html">MaX Fitness.</a>
   </div>
</footer>
{% endblock %}