<div class="collapse navbar-collapse" id="main-nav">

    <!-- Navigation links -->

    <ul class="navbar-nav w-auto mx-auto">

        <!-- Dropdown menu for ALL PRODUCTS -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL PRODUCTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Dropdown menu for  WOMEN'S -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="women-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                WOMEN'S
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=footwear" class="dropdown-item">Footwear</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=accesories" class="dropdown-item">Accesories</a>
                <a href="{% url 'products' %}?category=essentials" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?category=footwear,tops,accesories,essentials" class="dropdown-item">All
                    Clothing</a>
            </div>
        </li>

        <!-- Dropdown menu for MEN'S -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="men-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                MEN'S
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=footwear" class="dropdown-item">Footwear</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=accesories" class="dropdown-item">Accesories</a>
                <a href="{% url 'products' %}?category=essentials" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?category=footwear,tops,accesories,essentials" class="dropdown-item">All
                    Clothing</a>
            </div>
        </li>

        <!-- Dropdown menu for SPECIAL OFFERS-->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All
                    Specials</a>
            </div>
        </li>
    </ul>
</div>