body {
   font-family: 'Poppins', sans-serif;
   background-color: antiquewhite;
}

/* BACKGROUND */
.welcome-page {

   height: 100vh;

   background: url('/media/gym.jpeg') no-repeat center center fixed transparent;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: centre;
   justify-content: center;
   position: relative;
}

/*FOOTER*/
.footer-style {
   background-color: #ffffff;
}


.ft-style {
   background-color: rgb(122, 120, 114);
}

/* TEXT COLOUR*/
h3 {
   color: rgb(247, 121, 23);
}

p,
h6,
h5,
li {
   color: rgb(58, 49, 49);
}


h1 {
   color: black;
   text-transform: uppercase;
   text-align: center;
}

/* TEXT POSITION*/
.style {
   margin-top: 15px;
   margin-bottom: 10px;
}

.text {
   justify-content: left;
}

.overlay {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   position: fixed;
   background: white;
   z-index: -1;
}

a.category-badge>span.badge:hover {
   background: #212529 !important;
   color: #fff !important;
}

.btt-button {
   height: 42px;
   width: 42px;
   position: fixed;
   bottom: 10px;
   right: 10px;
}

.btt-link {
   cursor: pointer;
}

.btn-outline-black {
   background: white;
   color: black !important; /* use important to override link colors for <a> elements */
   border: 1px solid black;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
   .container {
      max-width: 80%;
   }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
   .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
   }

   .header-container {
      padding-top: 164px;
   }
}