body {
   font-family: 'Poppins', sans-serif;
   background-color: antiquewhite;
}

/* BACKGROUND */
.welcome-page {

   height: 100vh;

   background: url('/media/gym.jpeg') no-repeat center center fixed transparent;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: centre;
   justify-content: center;
   position: relative;
}


/* TEXT COLOUR*/
h3 {
   color: rgb(247, 121, 23);
}

p,
h6,
h5,
li {
   color: rgb(58, 49, 49);
}

h2 {
   text-transform:uppercase;
}

h1 {
   color: black;
   text-transform: uppercase;
   text-align: center;
}

/* TEXT POSITION*/
.style {
   margin-top: 15px;
   margin-bottom: 10px;
}

.text {
   justify-content: left;
}

.overlay {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   position: fixed;
   background: white;
   z-index: -1;
}

.logo-font {
   /* Style for the title */
   display: inline-block;
   margin-left: 10px;
}

.logo-img {
   /* Style for the logo image */
   max-width: 80px; 
}

a.category-badge>span.badge:hover {
   background: #212529 !important;
   color: #fff !important;
}

.btt-button {
   height: 42px;
   width: 42px;
   position: fixed;
   bottom: 10px;
   right: 10px;
}

.btt-link .update-link .remove-item {
   cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
   position: fixed;
   top: 72px;
   right: 15px;
   z-index: 99999999999;
}

.custom-toast {
   overflow: visible;
}

.toast-capper {
   height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
   width: 0; 
   height: 0; 
   border-left: 4px solid transparent;
   border-right: 4px solid transparent; 
   border-bottom: 10px solid black;
   position: absolute;
   top: -10px;
   right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
   border-bottom-color: #007bff !important;
}

.arrow-secondary {
   border-bottom-color: #6c757d !important;
}

.arrow-success {
   border-bottom-color: #28a745 !important;
}

.arrow-danger {
   border-bottom-color: #dc3545 !important;
}

.arrow-warning {
   border-bottom-color: #ffc107 !important;
}

.arrow-info {
   border-bottom-color: #17a2b8 !important;
}

.arrow-light {
   border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
   border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
   height: 100px;
   overflow-x: hidden;
   overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
   .container {
      max-width: 80%;
   }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
   .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
   }

   .header-container {
      padding-top: 164px;
   }
}