{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Define the page header with a container and row  -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block extra_title %} 500 Internal Server Error {% endblock %}

{% block content %}

<div class="container mt-5 gap">
    <div class="jumbotron text-center">
        <h1 class="display-4">Internal Server Error</h1>
        <p class="lead">Sorry, something went wrong on our end.</p>
        <hr class="my-4">
        <p>We're working to fix the issue. Please try again later.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Go To Our Home Page</a>
    </div>
</div>

{% endblock %}