<div class="collapse navbar-collapse" id="main-nav">

    <!-- Navigation links -->

    <ul class="navbar-nav w-auto mx-auto">
        <li class="list-inline-item flex-wrap">
            <a href="{% url 'home' %}" class="font-weight-bold nav-link text-black mr-5">HOME</a>
        </li>
        <!-- Dropdown menu for ALL PRODUCTS -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL PRODUCTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Dropdown menu for WOMEN'S -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="women-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                WOMEN'S
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=women_footwear" class="dropdown-item">Footwear</a>
                <a href="{% url 'products' %}?category=women_tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=women_accesories" class="dropdown-item">Accesories</a>
                <a href="{% url 'products' %}?category=women_essentials" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?category=women_new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=women_clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=category=women_clearance,women_new_arrivals,women_footwear,women_tops,women_accesories,women_essentials"
                    class="dropdown-item">All
                    Clothing</a>
            </div>
        </li>

        <!-- Dropdown menu for MEN'S -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="men-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                MEN'S
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=men_footwear" class="dropdown-item">Footwear</a>
                <a href="{% url 'products' %}?category=men_tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=men_accesories" class="dropdown-item">Accesories</a>
                <a href="{% url 'products' %}?category=men_essentials" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?category=men_new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=men_clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=men_clearance,men_new_arrivals,men_footwear,men_tops,men_accesories,men_essentials"
                    class="dropdown-item">All
                    Clothing</a>
            </div>
        </li>

        <!-- Dropdown menu for ALL SPECIALS -->

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="men-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                ALL SPECIALS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=men_clearance,women_clearance" class="dropdown-item">All Clearance</a>
                <a href="{% url 'products' %}?category=men_new_arrivals,women_new_arrivals" class="dropdown-item">All New Arrivals</a>
                <a href="{% url 'products' %}?category=men_clearance,men_new_arrivals,women_clearance,women_new_arrivals" class="dropdown-item">All Specials</a>
            </div>
        </li>
</div>
</li>
</ul>
</div>